body {
  background-image: url("clocks.jpg");
  color: black;
  background-size: cover;
  background-position: center;
}

.top {
  width: 33%;
  height: 15%;
  background-color: white;
  color: black;
  border: 5px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family:'Shadows Into Light', cursive;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;

}

.top p {
  color: blue;
}

.gameForms {
  background-color: black;
  width: 200px;
  position: absolute;
  margin-top: 300px;
  margin-left: 125px;
  border: solid red;
  padding: 5px;
}


.container {
  width: 600px;
  height: 615px;
  position: relative;
  margin: 0 auto;

}

.board {
  background-color: red;
  width: 100%;
  border-radius: 20px;
  border: red;
}


table td {
  width: 60px;
  height: 200px;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  border-radius: 20px;
}

td:hover {
  background-color: gray;
  background:radial-gradient(black 5%, #000066 95%);

}


.scoreX {
  width: 15%;
  min-height: 50px;
  background-color: white;
  position: absolute; left: 20px; top: -200px;
  margin: 200px 40px 500px 100px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  border-radius: 30px;
  border: 3px solid black;
  padding-top: .5%;
}

.scoreO {
  width: 15%;
  min-height: 50px;
  background-color: white;
  position: absolute; left: 20px; top: -200px;
  margin: 200px 100px 500px 1060px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  border-radius: 30px;
  border: 3px solid black;
  padding-top: .5%;
  padding-bottom: 1.5%;
}

.scoreO h1 {
  font-size: 40px;
}

.scoreX h1 {
  font-size: 40px;
}

.score {
  color: blue;
}

@media (max-width: 500px) {
  .container {
    width: 43%;
  }

 }
