body {
  background-image: url("clocks.jpg");
  color: black;
  background-size: cover;
  background-position: center;
}

.top {
  width: 400px;
  height: 100px;
  background-color: white;
  color: black;
  border: 5px solid black;
  margin: 0px 500px 10px 500px;
  font-family:'Shadows Into Light', cursive;
   font-size: 65px;
  text-align: center;
  border-radius: 20px;

}

.board {
  width: 600px;
  height: 615px;
  background-color: red;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  border: red;
}


table td {
  width: 60px;
  height: 200px;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  border-radius: 20px;
}

td:hover {
  background-color: gray;
  background:radial-gradient(black 5%, #000066 95%);

}

.select {
  width: 300px;
  height: 50px;
  background-color: white;
  position: absolute; left: 40px; top: 20px;
  margin: 200px 1000px 500px 0px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  border-radius: 30px;
  border: 3px solid black;
}

.scoreX {
  width: 150px;
  height: 50px;
  background-color: white;
  position: absolute; right: 200px; top: 20px;
  margin: 200px 40px 500px 1000px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  border-radius: 30px;
  border: 3px solid black;
}

.scoreO {
  width: 150px;
  height: 50px;
  background-color: white;
  position: absolute; right: 20px; top: 20px;
  margin: 200px 40px 500px 1000px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  border-radius: 30px;
  border: 3px solid black;
}

.board.player1_cell{
    color: #cc0000;
}
board.player2_cell{
    color: #0000cc;
}
